.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.book {
  width: 70%;
  margin: auto;
  background-color: rgb(66, 22, 107);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}
.book h1 {
  color: aliceblue;
  font-size: 5vw;
}
.book p {
  color: aliceblue;
  font-size: 3vw;
}

.book-list {
  width: 70%;
  margin: auto;
  background-color: rgb(121, 37, 206);
}
.book-list ul {
  padding: 0;

  list-style: none;
}
.book-list ul > li {
  
  padding: 20px;
  background-color: rgb(66, 22, 107);
  color: aliceblue;
  font-size: 20px;
}

.books{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.books button {
  margin-bottom: 10px;
}

input {
  background-color: rgb(58, 20, 94) !important;
  color: aliceblue !important;
}